 Code ko seperate karne k liay ipynb file banti hy

Subject of this python script\
Authored by:Sagun Maharjan\
Where to contact:github profile link "or" email\
[Lecture-5] (put link in here with)

In [1]:
# Code1
print("aammar")

aammar

# Indexing

In [1]:
# make a string
a = "Samosa Pakora"
a

'Samosa Pakora'

In [2]:
a[0]

'S'

In [3]:
# lenght of index
len(a)

13

In [5]:
a[12]

'a'

In [8]:
# Last index is exclusve
a[0:13]

'Samosa Pakora'

In [12]:
a[-6:13]

'Pakora'

In [17]:
food = "biryani"
food

'biryani'

# string methods

In [18]:
food

'biryani'

In [19]:
len(food)

7

In [20]:
#capitize every element
food.capitalize()

'Biryani'

In [21]:
#uppercase letters
food.upper()

'BIRYANI'

In [22]:
# lowercase letters
food.lower()

'biryani'

In [23]:
food.replace("b","Sh")

'Shiryani'

In [24]:
# counting a specific alphabet in a string
name = "baba_aammar with Dr Aammar Tufail"
name

'baba_aammar with Dr Aammar Tufail'

In [26]:
name.count("ba")

2

In [27]:
# finding an index  number in string

name = "baba_aammar with Dr Aammar Tufail"
name

'baba_aammar with Dr Aammar Tufail'

In [29]:
name.find("D")

17

In [30]:
###  how to split a string
food = "I love samosa,pakora,raita,biryani and karahi"
food

'I love samosa,pakora,raita,biryani and karahi'

In [32]:
food.split(",")

['I love samosa', 'pakora', 'raita', 'biryani and karahi']

### Basic data structure in python
1. Tuple
2. list
3. Dictionaries
4. Set

## 1- Tuple
- ordered collection of elements
- enclosed in() round braces/parenthesis
- different kind of element can be stored
- once elements are stored you can not change them(unmutables)

In [7]:
tup1 =(1,"python",True,2.5)
tup1

(1, 'python', True, 2.5)

In [3]:
# type of a tuple
type(tup1)

tuple

### - indexing in tuple

In [24]:
tup1[1]

'python'

In [10]:
# last element is exculsive
tup1[0:3]

(1, 'python', True)

In [11]:
# count of elements in tuple
len(tup1)

4

In [16]:
tup2 = (2,"babaAamar",3.5,False)
tup2

(2, 'babaAamar', 3.5, False)

In [17]:

#concatinate(to add two tuple)
tup1 + tup2

(1, 'python', True, 2.5, 2, 'babaAamar', 3.5, False)

In [18]:
tup1*2 + tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'babaAamar', 3.5, False)

In [19]:
tup3 = (20,50,30,60,79,85)
tup3

(20, 50, 30, 60, 79, 85)

In [20]:
# minimum
min(tup3)

20

In [21]:
max(tup3)

85

In [22]:
tup3*2

(20, 50, 30, 60, 79, 85, 20, 50, 30, 60, 79, 85)

### 2 .list
- ordered collection of elements
- enclosed in [] square braces/bracket
-  mutatebale ,you change the values

In [25]:
list1 = [2,"babaammar",False]
list1

[2, 'babaammar', False]

In [26]:
type(list1)

list

In [27]:
len(list1)

3

In [28]:
list1[2]

False

In [29]:
list2 = [3,5,"Sagun","Codanics",478,53.2,False]
list2

[3, 5, 'Sagun', 'Codanics', 478, 53.2, False]

In [30]:
# concatinate 
list1 + list2

[2, 'babaammar', False, 3, 5, 'Sagun', 'Codanics', 478, 53.2, False]

In [34]:
list1 * 2

[2, 'babaammar', False, 2, 'babaammar', False]

In [35]:
list1.reverse()
list1

[False, 'babaammar', 2]

In [37]:
list1.append("Codanics Youtube Channel")
list1

[False, 'babaammar', 2, 'Codanics Youtube Channel']

In [47]:
# list count function
list1.count("babaammar")
list1

[False, 'babaammar', 2, 'Codanics Youtube Channel']

In [48]:
list3 = [20,30,35,50,40,12,15,11,10,356,56,886]
list3

[20, 30, 35, 50, 40, 12, 15, 11, 10, 356, 56, 886]

In [49]:
len(list3)

12

In [50]:
# sorting a list
list3.sort()
list3

[10, 11, 12, 15, 20, 30, 35, 40, 50, 56, 356, 886]

In [51]:
list3 * 2

[10,
 11,
 12,
 15,
 20,
 30,
 35,
 40,
 50,
 56,
 356,
 886,
 10,
 11,
 12,
 15,
 20,
 30,
 35,
 40,
 50,
 56,
 356,
 886]

In [54]:
lists = list1 + list2
lists

[False,
 'babaammar',
 2,
 'Codanics Youtube Channel',
 3,
 5,
 'Sagun',
 'Codanics',
 478,
 53.2,
 False]

## 3. Dictionaries
- An unordered collection of elements
- key and value
- curly braces or brackets{}
- mutateable/change the values

In [56]:
# food and their prices
food1 = {"Samosa":30,"Pakora":100,"Raita":20,"Salad":50,"Chicken Rolls":30}
food1

{'Samosa': 30, 'Pakora': 100, 'Raita': 20, 'Salad': 50, 'Chicken Rolls': 30}

In [57]:
type(food1)

dict

In [58]:
# extra data
keys1 = food1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Rolls'])

In [59]:
values1 = food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [60]:
food1["Tikki"]=10
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10}

In [61]:
# updates the values
food1["Tikki"]= 15
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15}

In [62]:
food2 = {"Dates":50,"Chocolates":200,"Swayyan":1000}
food2

{'Dates': 50, 'Chocolates': 200, 'Swayyan': 1000}

In [64]:
# concatinate
food1.update(food2)
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50,
 'Chocolates': 200,
 'Swayyan': 1000}

## 4-Set
- unordered and unindexed
- curly braces are used {}
- no duplicates allowed

In [65]:
s1 = {1,2.2,5.2,"Aammar","codanics","Falsalbad",True}
s1

{1, 2.2, 5.2, 'Aammar', 'Falsalbad', 'codanics'}

In [67]:
s1.add("Aammar1")
s1

{1, 2.2, 5.2, 'Aammar', 'Aammar1', 'Falsalbad', 'codanics'}

In [68]:
s1.remove("Aammar1")
s1

{1, 2.2, 5.2, 'Aammar', 'Falsalbad', 'codanics'}